/* -------- START -------- For Home Page */

/* MAIN 1 */
.homeDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  row-gap: 30px;
  /* width: 95%; */
  /* border: 1px solid green; */
}

/* SUBDIV 1 */
.home-main {
  padding-top: 1rem;
  padding-left: 10px;
  color: #534859;
  /* border: 1px solid orange; */
}

/* SUBDIV 2 */
.home-pic {
  display: flex;
  justify-content: center;
  /* border: 1px solid violet; */
}

/* DIV WHERE THE IMAGE ELEMENT WILL GET THE SIZE */
.home-img {
  width: 80%;
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
}

/* IMAGE ELEMENT */
.home-logo {
  width: 100%;
  object-fit: contain !important;
  /* border: 1px solid red; */
}

.home-hello {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.home-hazel {
  font-family: "Merriweather", serif;
  font-size: 5rem;
}

.home-software {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
}

/* BTN ELEMENT */
.home-btn {
  margin-top: 10px;
  background: #534859;
  border-radius: 4px;
  font-family: "Josefin Sans", sans-serif;
  color: #faf0e7;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  width: 90%;
  min-width: fit-content;
  text-align: center;
}

/* -------- End -------- For Home Page */
