@import url("./Styles/about.css");
@import url("./Styles/contact.css");
@import url("./Styles/navbar.css");
@import url("./Styles/home.css");
@import url("./Styles/portfolio.css");
@import url("./Styles/techstack.css");

/* FONTS */
/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
*/

/* WHOLE PAGE */
.App {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  /* WHITE */
  background-color: #faf0e7;

  /* DARK */
  /* background-color: #282c34; */

  min-height: 100vh;
  /* border: 1px solid orange; */
}

/* NAVBAR ONLY */
.App-header {
  /* background-color: orange; */

  /* WHITE */
  background: #faf0e7;
  width: 100vw;
  height: 16vh;
  z-index: 12;
  position: fixed;
  border-bottom: 5px solid #534859;
  /* border: 1px solid red; */
}

/* MAIN */
.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: blueviolet; */

  /* WHITE */
  background-color: #faf0e7;

  /* DARK */
  /* background-color: #282c34; */

  /* padding-top: 50px; */
  /* row-gap: 150px; */
  width: 100vw;
  /* height: (85vh * 5); */
  top: 16vh;
  position: relative;
  /* border: 1px solid blue; */
}

.aboutDiv,
.contactDiv,
.homeDiv,
.navDiv,
.portfolioDiv,
.techstackDiv {
  /* border: 2px solid green; */
}

.aboutDiv,
.contactDiv,
.homeDiv,
.portfolioDiv,
.techstackDiv {
  width: 90%;
  /* height: 85vh; */
}

.aboutDiv,
.contactDiv,
.portfolioDiv,
.techstackDiv {
  margin-top: 100px;
}

.homeDiv {
  margin-top: 50px;
}

/* FOOTER */
.footerDiv {
  width: 100%;
  border-top: 5px solid #534859;
  margin-top: 100px;
}

.footerDiv {
  padding-top: 1rem;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #534859;
}
